<?xml version="1.0"?>
<!--
/**
 * Amazon Fraud integration (https://aws.amazon.com/fraud-detector/?nc1=h_ls)
 *
 * Use AWS Fraud to detect fake customers
 *
 * @package     ImaginationMedia\AwsFraud
 * @author      Igor Ludgero Miura <igor@imaginationmedia.com>
 * @copyright   Copyright (c) 2020 Imagination Media (https://www.imaginationmedia.com/)
 * @license     https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Validate customer account creation -->
    <preference for="Magento\Customer\Controller\Account\CreatePost"
                type="ImaginationMedia\AwsFraud\Rewrite\Customer\Controller\Account\CreatePost" />

    <!-- Validate customer login -->
    <preference for="Magento\Customer\Controller\Account\LoginPost"
                type="ImaginationMedia\AwsFraud\Rewrite\Customer\Controller\Account\LoginPost" />

    <!-- Add additional info to be used on checkout -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="aws_fraud" xsi:type="object">ImaginationMedia\AwsFraud\Ui\AwsFraudProvider</item>
            </argument>
        </arguments>
    </type>
</config>
